.timer {
    /* background: #ffffff; */
    line-height: 2em;
    padding: 0 30px;
    border-radius: 4px 4px 0 0;
    color: #182d2a;
    z-index: 1;
    position: relative;
    border: 0px;
    font-size: 1.4rem;
}