.sudoku-board .row .column {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    background: #fff;
}

.sudoku-board .row.error .column,
.sudoku-board .row .error.column {
    background: #f9f1f1;
}

.sudoku-board .row .column.section-last {
    border-right-color: #333;
}

.sudoku-board .row.row-section-last .column {
    border-bottom-color: #333;
}

.sudoku-board .row .column:last-child {
    border-right-width: 0;        
}

.sudoku-board .row:last-child .column {
    border-bottom-width: 0;        
}

.sudoku-board .row .column input {
    border: 0;
    width: 100%;
    font-size: 17px;
    text-align: center;
    line-height: 3em;
    padding: 0;
    text-align: center;
    background: transparent;
}

.sudoku-board .row .column input:focus {
    outline: none;
}