.sudoku-board .row .column {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #aaa;
}

.sudoku-board .row .column:last-child {
    border-right-width: 0;        
}

.sudoku-board .row:last-child .column {
    border-bottom-width: 0;        
}

.sudoku-board .row .column input {
    border: 0;
    width: 100%;
    font-size: 17px;
    text-align: center;
    line-height: 3em;
    padding: 0;
    text-align: center;
}

.sudoku-board .row .column input:focus {
    outline: none;
}