.sudoku-board .row .column {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(--cell-border-light);
    background: var(--cell-bg-light);
    position: relative;
    transition: background linear .4s, border-color linear .4s;
}

.dark .sudoku-board .row .column {
    border-color: var(--cell-border-dark);
    background: var(--cell-bg-dark);
    transition: background linear .4s, border-color linear .4s;
}

.sudoku-board .row.error .column,
.sudoku-board .row .error.column {
    background: var(--error-bg-light);
    transition: background linear .4s, border-color linear .4s;
}

.dark .sudoku-board .row.error .column,
.dark .sudoku-board .row .error.column {
    background: var(--error-bg-dark);
    transition: background linear .4s, border-color linear .4s;
}

.sudoku-board .row .column.section-last {
    border-right-color: var(--section-border-light);
    border-right-width: 1.4px;
    transition: background linear .4s, border-color linear .4s;
}

.sudoku-board .row.row-section-last .column {
    border-bottom-color: var(--section-border-light);
    transition: background linear .4s, border-color linear .4s;
    border-bottom-width: 1.4px;
}

.dark .sudoku-board .row .column.section-last {
    border-right-color: var(--section-border-dark);
    transition: background linear .4s, border-color linear .4s;
}

.dark .sudoku-board .row.row-section-last .column {
    border-bottom-color: var(--section-border-dark);
    transition: background linear .4s, border-color linear .4s;
}

.sudoku-board .row .column:last-child {
    border-right-width: 0;        
}

.sudoku-board .row:last-child .column {
    border-bottom-width: 0;        
}

.sudoku-board .row .column input {
    border: 0;
    width: 100%;
    font-size: var(--xl-size);
    text-align: center;
    line-height: 3em;
    padding: 0;
    text-align: center;
    background: transparent;
    z-index: 2;
}

.sudoku-board .row .column input:focus {
    outline: none;
}

.sudoku-board .row .column .possible {
    z-index: 1;
    position: absolute;
    color: var(--text-light-gray);
    font-size: var(--s-size);
    line-height: 1.5em;
    opacity: .1;
    display: none;
}

.show-tips .sudoku-board .row .column .possible {
    display: inherit;
}

.sudoku-board .row .column:hover .possible {
    opacity: 1;
}

.sudoku-board .row .column .possible:nth-child(1),
.sudoku-board .row .column .possible:nth-child(2),
.sudoku-board .row .column .possible:nth-child(3) {
    left: 5px;
    right: inherit;
}

.sudoku-board .row .column .possible:nth-child(4),
.sudoku-board .row .column .possible:nth-child(5),
.sudoku-board .row .column .possible:nth-child(6) {
    left: 44%;
    right: inherit;
}

.sudoku-board .row .column .possible:nth-child(7),
.sudoku-board .row .column .possible:nth-child(8),
.sudoku-board .row .column .possible:nth-child(9) {
    right: 5px;
}

.sudoku-board .row .column .possible:nth-last-child(1),
.sudoku-board .row .column .possible:nth-last-child(2),
.sudoku-board .row .column .possible:nth-last-child(3) {
    right: 5px;
    left: inherit;
}

.sudoku-board .row .column .possible:nth-child(1),
.sudoku-board .row .column .possible:nth-child(4),
.sudoku-board .row .column .possible:nth-child(7) {
    top: 2px;
}

.sudoku-board .row .column .possible:nth-child(2),
.sudoku-board .row .column .possible:nth-child(5),
.sudoku-board .row .column .possible:nth-child(8) {
    top: calc(50% - 8px);
}

.sudoku-board .row .column .possible:nth-child(3),
.sudoku-board .row .column .possible:nth-child(6),
.sudoku-board .row .column .possible:nth-child(9),
.sudoku-board .row .column .possible:nth-child(5):nth-last-child(4) {
    bottom: 2px;
    top: inherit;
}