.field {	
	border-width: 0 1px 1px 0;
	border-color: #f0f0f0;
	border-style: solid;
	box-sizing: border-box;
    position: relative;
}

.field input {
	border: 0;
	height: 2em;
	width: calc(100% - 2px);
	background: transparent;
	text-align: center;
	font-size: 1.5rem;
	-moz-appearance: textfield;
}

.field input:active,
.field input:focus {
	outline: 0;
}

.field input::-webkit-outer-spin-button,
.field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field.border-right {
    border-right: 1px solid #92b7a9 !important;
}

.field.border-bottom {
    border-bottom: 1px solid #92b7a9 !important;
}

.field .possible {
    z-index: 1;
    position: absolute;
    color: var(--text-light-gray);
    font-size: var(--s-size);
    line-height: 1.5em;
    opacity: .1;
    /* display: none; */
    display: block;
}

/* .show-tips .field .possible {
    display: inherit;
}
 */

.board .field:hover .possible {
    opacity: 1;
}

.field .possible:nth-child(1),
.field .possible:nth-child(2),
.field .possible:nth-child(3) {
    left: 5px;
    right: inherit;
}

.field .possible:nth-child(4),
.field .possible:nth-child(5),
.field .possible:nth-child(6) {
    left: 44%;
    right: inherit;
}

.field .possible:nth-child(7),
.field .possible:nth-child(8),
.field .possible:nth-child(9) {
    right: 5px;
}

.field .possible:nth-last-child(1),
.field .possible:nth-last-child(2),
.field .possible:nth-last-child(3) {
    right: 5px;
    left: inherit;
}

.field .possible:nth-child(1),
.field .possible:nth-child(4),
.field .possible:nth-child(7) {
    top: 2px;
}

.field .possible:nth-child(2),
.field .possible:nth-child(5),
.field .possible:nth-child(8) {
    top: calc(50% - 8px);
}

.field .possible:nth-child(3),
.field .possible:nth-child(6),
.field .possible:nth-child(9),
.field .possible:nth-child(5):nth-last-child(4) {
    bottom: 2px;
    top: inherit;
}